.dd-intro {
  position: relative;
  padding-bottom: 11rem;
  background: linear-gradient(transparent 50%, $science-blue 200%);

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 8rem;
    box-shadow: inset 0 20px 25px -15px $black;
    background-color: $maritime-blue;
  }
  &__content {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  &__container {
    background: linear-gradient(transparent 40%, $black);
    background-color: $blue-purple;
    border-radius: $br-big;
    padding: 1rem 2rem 2rem 2rem;

    @include media-breakpoint-up(lg) {
      padding: 2rem 4rem;
    }
  }
  &__title {
    width: fit-content;
    font-size: 2.5rem;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
    &:after {
      content: '|';
      animation: FadeOut $tr-medium 7 forwards;
    }
    span {
      font-family: 'audiowide';
      height: 100%;
    }
  }
  &__text {
    text-align: justify;
    margin-bottom: 6rem;
    font-size: 1.2rem;
    
    @include media-breakpoint-up(lg) {
      margin-bottom: 2rem;
      margin-right: 6rem;
      font-size: 1.4rem;
    }
  }
  &__image {
    height: 31.25rem;
    position: absolute;
    right: 0;
    bottom: -19rem;
    filter: saturate(1.2);
    
    @include media-breakpoint-up(lg) {
      top: 0;
    }
  }
  &__contact {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 10rem;
      bottom: 0;
      background: linear-gradient(transparent 50%, $black);
      border-radius: 0 0 25px 25px;
      z-index: 0;
  }
  }
  &__contact-title {
    position: relative;
    color: $white;
    text-shadow: 0 0 4px $white;
    font-size: 2rem;
    z-index: 1;
  }
  &__contact-link {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    transition: $tr-fast;
    z-index: 1;
    filter: drop-shadow(2px 4px 6px $black);

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
    &:nth-of-type(1) {
      fill: $linkedin-blue;
    }
    &:nth-of-type(2) {
      fill: $white;
    }
    &:nth-of-type(3) {
      fill: $hot-magenta;
    }
    &:hover {
      fill: $billiards-cloth;
      
      &:before {
        content: '';
        position: absolute;
        bottom: 110%;
        border-top: 20px solid $billiards-cloth;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
      }
      &:after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 130%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        background-color: $billiards-cloth;
        padding: 0.5rem 1rem;
        color: $white;
      }
    }
  }
}