//== Fonts
$squada: 'Squada One', sans-serif;
$audiowide: 'Audiowide', sans-serif;

//== Colors
$white: #ffffff;
$black: #000000;
$maritime-blue: #262742;
$celtic-blue: #3168d8;
$french-sky-blue: #7CA0F1;
$science-blue: #0076ca;
$linkedin-blue: #0A66C2;
$blue-purple: #5229C6;
$violet: #7900FF;
$lavender-indigo: #b069ff;
$hot-magenta: #ff5cad;
$billiards-cloth: #00b14a;
$toucan-gentleman: #ffc90e;
$congressional-navy: #140039;
$argent: #898989;

//== Border radius
$br-small: 5px;
$br-medium: 15px;
$br-big: 30px;
$br-full: 50%;

//== Transition
$tr-fast: 0.2s;
$tr-medium: 0.5s;
$tr-slow: 1s;

//== backgrounds
$mobile-header-gradient: radial-gradient(circle at top, rgba(255,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%, rgba(114,9,121,0.4) 33%, rgba(98,0,255,0.4) 100%);
$dekstop-header-gradient: radial-gradient(circle at bottom left, rgba(255,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%, rgba(114,9,121,0.4) 33%, rgba(98,0,255,0.4) 100%);
$header-backdrop: brightness(0.4) blur(2px);

//== Customization
$grid-breakpoints: (
    xs: 0,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1300px
) !default;
$container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 1300px
) !default;
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 5),
    8: ($spacer * 6),
    9: ($spacer * 7),
    10: ($spacer * 8),
);